<% layout('/layouts/newbp') %> 
<div class="p-5">
<form action="/admin/category/<%=categories._id %>?_method=PUT" method="post" class="needs-validation" novalidate>
    <label for="category">Edit Category:</label>
    <input type="text" value="<%=categories.category %>" name="category" id="category" required>
    <button class="btn btn-primary">Submit</button>
</form>
</div>