<% layout('/layouts/newbp') %> 
<div class="container mt-5">
   
    <h1><%=banner.bannerName %> </h1>
    <h2><%=banner.mainHeading %> </h2>
    <h3><%=banner.subHeading %> </h3>
    <h4><%=banner.description %> </h4>


</div>
