<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="/admin/dashboard">
          <i class="icon-grid menu-icon"></i>
          <span class="menu-title">Dashboard</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  href="/admin/sales">
          <i class="icon-paper menu-icon"></i>
          <span class="menu-title">Sales</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#user" aria-expanded="false" aria-controls="user">
          <i class="icon-head menu-icon"></i>
          <span class="menu-title">User Management</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="user">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="/admin/users"> Add</a></li>
            <li class="nav-item"> <a class="nav-link" href="/admin/users"> List </a></li>
          </ul>
        </div>
      </li>
  
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#category" aria-expanded="false" aria-controls="category">
          <i class="icon-paper menu-icon"></i>
          <span class="menu-title">Category</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="category">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="/admin/category"> Add Category </a></li>
            <li class="nav-item"> <a class="nav-link" href="/admin/category"> List</a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#subcategory" aria-expanded="false" aria-controls="subcategory">
          <i class="icon-head menu-icon"></i>
          <span class="menu-title">Subcategory</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="subcategory">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="/admin/subcategory"> Add  </a></li>
            <li class="nav-item"> <a class="nav-link" href="/admin/subcategory"> List </a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#product" aria-expanded="false" aria-controls="product">
          <i class="icon-paper menu-icon"></i>
          <span class="menu-title">Product</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="product">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="/admin/products"> List </a></li>
            <li class="nav-item"> <a class="nav-link" href="/admin/products/new"> Add </a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#order" aria-expanded="false" aria-controls="order">
          <i class="icon-head menu-icon"></i>
          <span class="menu-title">Order</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="order">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="/admin/order"> List </a></li>
            <li class="nav-item"> <a class="nav-link" href="/admin/order"> Edit </a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#coupon" aria-expanded="false" aria-controls="coupon">
          <i class="icon-paper menu-icon"></i>
          <span class="menu-title">Coupon</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="coupon">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="/admin/coupon"> List </a></li>
            <li class="nav-item"> <a class="nav-link" href="/admin/coupon"> Edit </a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#banner" aria-expanded="false" aria-controls="banner">
          <i class="icon-head menu-icon"></i>
          <span class="menu-title">Banner</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="banner">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="/admin/banner"> List </a></li>
            <li class="nav-item"> <a class="nav-link" href="/admin/banner"> Edit </a></li>
          </ul>
        </div>
      </li>
      
    </ul>
  </nav>