
    <div class="container-fluid ">
        <div class="categoryBar">
            <a href="/user/home" class=" btn inline primaryButton ">Home</a>
            <a href="/user/category/mobile" class="inline btn primaryButton">Mobiles</a>
            <a href="/user/category/laptop" class="inline btn primaryButton ">Laptop</a>
            <a href="/user/category/headphone" class="inline btn primaryButton ">Headphone</a>
            <a href="/user/category/bags" class="inline btn primaryButton ">Bags</a>
            <a href="/user/category/sports" class="inline btn primaryButton ">Sports</a>
            
          
        </div>
      
      
      
    </div>
  </nav>