.dashboard{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 2rem;
}
/* .mainDiv{
    margin:0rem 5rem;
} */
#userList_length{
    margin-bottom: 1rem;
}
#userList_filter{
    margin-bottom: 1rem;   
}