<% layout('/layouts/userbp') %>
<!-- Start Content -->
<div class="container py-5">
  <div class="row">
    <div class="col-lg-9">
      <div class="row">
        <div class="col-md-6">
          <ul class="list-inline shop-top-menu pb-3 pt-1">
            <li class="list-inline-item">
              <a class="h5 text-dark text-decoration-none mr-3" href="#"
                >Sort By:</a
              >
            </li>
            <li class="list-inline-item">
              <a
                class="h6 text-success text-decoration-none mr-3"
                onclick="lowToHigh('<%= category.category%>')"
                >Price Low-High</a
              >
            </li>
            <li class="list-inline-item">
              <a
                class="h6 text-success text-decoration-none"
                onclick="highToLow('<%= category.category%>')"
                >Price High-Low</a
              >
            </li>
            <li class="list-inline-item">
              <a
                class="h6 text-success text-decoration-none"
                onclick="latest('<%= category.category%>')"
                >Latest First</a
              >
            </li>
          </ul>
        </div>
        <div class="col-md-6 pb-4">
          <div class="d-flex">
            <select class="form-control">
              <option>Featured</option>
              <option>A to Z</option>
              <option>Item</option>
            </select>
          </div>
        </div>
      </div>
      <div id="catItems" class="row">
        <div id="spinner" class="d-flex justify-content-center">
          <div class="spinner-border" role="status">
            <span class="">Loading...</span>
          </div>
        </div>
      </div>
      <div div="row">
        <ul class="pagination pagination-lg justify-content-end">
          <li class="page-item disabled">
            <a
              class="page-link active rounded-0 mr-3 shadow-sm border-top-0 border-left-0"
              href="#"
              tabindex="-1"
              >1</a
            >
          </li>
          <li class="page-item">
            <a
              class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 text-dark"
              href="#"
              >2</a
            >
          </li>
          <li class="page-item">
            <a
              class="page-link rounded-0 shadow-sm border-top-0 border-left-0 text-dark"
              href="#"
              >3</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- End Content -->
<script src="/js/addtocart.js"></script>
<script src="/js/category/filterbyprice.js"></script>
<script src="/js/category/onload.js"></script>
<script src="/js/category/latest.js"></script>
<script src="/js/category/checkbox.js"></script>
